{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<br>
<p style="text-align: center;"><b>{{message}}</b></p>

<h1>Crypto bank</h1>
<h3>Tabela sa kriptovalutama</h3>

<table style="width: 100%; border: 1px solid black">
  <thead>
    <tr>
      <th style="border: 1px solid black">Name</th>
      <th style="border: 1px solid black">Symbol</th>
      <th style="border: 1px solid black">Price</th>
      <th style="border: 1px solid black">Market Cap</th>
      {% set user = user %}
      {% if user != None %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for mainkey in response %}

    <tr>
      <td style="border: 1px solid black">{{response[mainkey]['name']}}</td>
      <td style="border: 1px solid black">{{response[mainkey]['symbol']}}</td>
      <td style="border: 1px solid black">
        {{response[mainkey]['quote']['USD']['price']}}
      </td>
      <td style="border: 1px solid black">
        {{response[mainkey]['quote']['USD']['market_cap']}}
      </td>
      {% set user = user %}
      {% if user != None %}

      <td style="border: 1px solid black">  
        <button
          onclick="tradeFunction(`{{mainkey}}`)"
          style="width: 100%; border: none; background: transparent">
          Trade
        </button>     
      </td>

      {% endif %}
    {% endfor %}
    </tr>

    <script>
      function tradeFunction(value) {
        console.log(value);
        window.location.href = `http://127.0.0.1:5000/trade?token=${value}`;
      }
    </script>
   
  </tbody>
</table>

{% endblock %}
