{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1>Crypto bank</h1>
<h3>tabela sa kriptovalutama</h3>

<table style="width: 100%; border: 1px solid black;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Name</th>
            <th style="border: 1px solid black;">Symbol</th>
            <th style="border: 1px solid black;">Price</th>
            <th style="border: 1px solid black;">Market Cap</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            {% for mainkey in response %}
          
        <tr>
    <td style="border: 1px solid black;">{{response[mainkey]['name']}}</td>
    <td style="border: 1px solid black;">{{response[mainkey]['symbol']}}</td>
    <td style="border: 1px solid black;">{{response[mainkey]['quote']['USD']['price']}}</td>
    <td style="border: 1px solid black;">{{response[mainkey]['quote']['USD']['market_cap']}}</td>
    <td style="border: 1px solid black;"><button style="width: 100%; border: none; background: transparent;">Click on me</button></td>
</tr>
         
            {% endfor %}
      
    </tbody>

    
</table>

{% endblock %}