{% extends "base.html" %} {% block title %}Sign up{% endblock %}

{% block content %}


<form class="card p-5" method="POST">
    <h3  class="card-title"> Sign up</h3>

    <label for="firstName" class="form-group">
        First Name
        <input type="text" class="form-control mt-2" id="firstName" name="firstName" placeholder="Enter First Name">
    </label>

    <label for="lastName" class="form-group">
        Last Name
        <input type="text" class="form-control mt-2" id="lastName" name="lastName" placeholder="Enter Last Name">
    </label>

    <label for="address" class="form-group">
        Home Address
        <input type="text" class="form-control mt-2" id="address" name="address" placeholder="Enter Home Address">
    </label>

    <label for="city" class="form-group">
        City
        <input type="text" class="form-control mt-2" id="city" name="city" placeholder="Enter City">
    </label>

    <label for="country" class="form-group">
        Country
        <input type="text" class="form-control mt-2" id="country" name="country" placeholder="Enter country">
    </label>

    <!-- dodaj za broj telefona -->
    <label for="number" class="form-group">
        Phone Number
        <input type="tel" class="form-control mt-2" id="number" name="number" placeholder="Enter phone number">
    </label>

    <label for="email" class="form-group">
        Email Address
        <input type="email" class="form-control mt-2" id="email" name="email" placeholder="Enter Email">
    </label>

    <label for="password" class="form-group">
        Password
        <input type="password" class="form-control mt-2" id="password" name="password" placeholder="Enter Password">
    </label>
    <p class="text-danger">{{message}}</p>
    <br/>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock %}