{% extends "base.html" %} {% block title %} Trade {% endblock %} 
{% block content%} 
{% for mainkey in response %} 
{% if mainkey == request.args.get('token') %} 
{% set cenaKripta = response[mainkey]['quote']['USD']['price'] %} 
{% set nazivKripta = response[mainkey]['name'] %}

<br><br>
<div style="text-align: center;">
  <br>
  <form method="POST" action="/" style="text-align: left;">
    <button type="submit"><<<</button>
  </form>
  <h3>Kriptovaluta: {{response[mainkey]['name']}}</h3><br>
  <h4>Cena kripto valute: {{cenaKripta}}</h4><br>

  <h5>ULOZENO:
    <select id="valutaPlacanja">
    {%for mainkey in response%}
    {%set pomoc = response[mainkey]['name'] + "/" + response[mainkey]['quote']['USD']['price']|string%}
    <option value="{{pomoc}}">{{response[mainkey]['name']}}</option>
    {%endfor%}
    <option value="Tether/1">Tether</option>
    </select>
    <input type="number" id="kolikoNovca" name="kolikoNovca" /><br><br>
    <button onclick="myFun(kolikoNovca.value, `{{cenaKripta}}`, `{{nazivKripta}}`)">DALJE</button>
  </h5>
</div>
{% endif %} 
{% endfor %}

{% if request.args.get('ulozeno') %} 
{% set ulozeno = request.args.get('ulozeno')| float %}
{% set valutaPlacanja = request.args.get('valutaPlacanja') %}
{% set nazivKripta = request.args.get('nazivKripta') %}
{% set kolikoKripta = request.args.get('kolicinaKripta')|float%}

<br><br>
<div style="text-align: center;">
  <br><br><br>
  <h2>{{ ulozeno }} {{ valutaPlacanja}} = {{ kolikoKripta }} {{nazivKripta}}</h2><br><br>
  <button style="width: 200px; height: 50px;" onclick="myFun2(`{{ulozeno}}`, `{{valutaPlacanja}}`, `{{kolikoKripta}}`, `{{nazivKripta}}`)" >KUPI</button>
  <br>
  <form method="POST" action="/" style="text-align: right; margin-top: -40px; margin-right: 85px;">
    <button type="submit">ODUSTANI</button>
  </form>
</div>

{% endif %}

<script>
  function myFun(ulozeno, cenaKripta, nazivKripta) {
    
    pomoc= document.getElementById("valutaPlacanja").value
    
    valutaPlacanja = pomoc.split("/")[0]
    cenaValutePlacanja = pomoc.split("/")[1]

    dolara=ulozeno*cenaValutePlacanja
    kolikoKripta = dolara/cenaKripta

    window.location.href = `http://127.0.0.1:5000/trade?ulozeno=${ulozeno}&valutaPlacanja=${valutaPlacanja}&kolicinaKripta=${kolikoKripta}&nazivKripta=${nazivKripta}`;
  }
</script>

<script>
  function myFun2(ulozeno, valutaPlacanja, kolikoKripta, nazivKripta) {
    window.location.href = `http://127.0.0.1:5000/buyKripto?nazivKripta=${nazivKripta}&kolikoKripta=${kolikoKripta}&ulozeno=${ulozeno}&valutaPlacanja=${valutaPlacanja}`;
  }
</script>

{% endblock %}
