{% extends "base.html" %} {% block title %} Trade {% endblock %} {% block
content%} {% for mainkey in response %} {% if mainkey ==
request.args.get('token') %} {% set cenaKripta =
response[mainkey]['quote']['USD']['price'] %} {% set nazivKripta =
response[mainkey]['name'] %}

<h1>Kriptovaluta: {{response[mainkey]['name']}}</h1>
<h1>Cena kripto valute: {{cenaKripta}}</h1>

<h1>ULOZENO NOVCA:</h1>
<input type="number" id="kolikoNovca" name="kolikoNovca" />
<button onclick="myFun(kolikoNovca.value, `{{cenaKripta}}`, `{{nazivKripta}}`)">
  DALJE
</button>
{% endif %} {% endfor %} {% if request.args.get('kolicinaNovca') %} {% set
kolicinaNovca = request.args.get('kolicinaNovca') | float %} {% set cenaKripta =
request.args.get('cenaKripta') | float %} {% set nazivKripta =
request.args.get('nazivKripta') %}
<h1>Kriptovaluta {{nazivKripta}}</h1>
<h1>NOVAC {{kolicinaNovca}}</h1>
<h1>KOLICINA Kripta {{ kolicinaNovca/cenaKripta}}</h1>

<button
  onclick="myFun2(`{{kolicinaNovca}}`, `{{cenaKripta}}`, `{{nazivKripta}}`)"
>
  KUPI
</button>

{% endif %}

<script>
  function myFun(kolikoNovca, cenaKripta, nazivKripta) {
    console.log(kolikoNovca);
    console.log(cenaKripta);
    console.log(nazivKripta);

    window.location.href = `http://127.0.0.1:5000/trade?kolicinaNovca=${kolikoNovca}&cenaKripta=${cenaKripta}&nazivKripta=${nazivKripta}`;
  }
</script>

<script>
  function myFun2(kolikoNovca, cenaKripta, nazivKripta) {
    window.location.href = `http://127.0.0.1:5000/buyKripto?nazivKripta=${nazivKripta}&kolikoKripta=${
      kolikoNovca / cenaKripta
    }&kolicinaNovca=${kolikoNovca}`;
  }
</script>

{% endblock %}
