{% extends "base.html" %} {% block title %}Table of transactions{% endblock %}

{% block content %}

<h3 align="center">List of transactions</h3><br><br>

<form method="POST" action="/filterTransactions">
    <table>
        <tr>
            <!--Datum ukucavati u formatu tipa '2022-01-19T15:23:27' ili '2022-01-19 15:23:27 '-->
            <td><input type="text" class="form-control" id="targetEmail" name="targetEmail" placeholder="Target Email"></td>
            <td><input type="datetime" class="form-control" id="initTimeStart" name="initTimeStart" placeholder="Init Time Start"></td>
            <td><input type="datetime" class="form-control" id="initTimeEnd" name="initTimeEnd" placeholder="Init Time End"></td>
            <td>&nbsp;</td>
            <td><input type="text" class="form-control" id="crypto" name="crypto" placeholder="Crypto Type"></td>
            <td><input type="submit" value="Filter"></td>
        </tr>
    </table><br>
</form>

<table style="width: 100%; border: 1px solid black;">
    <tr>
        <th style="border: 1px solid black;">Target Email<a href="/TransSortByTargetEmail">▲▼</a></th>
        <th style="border: 1px solid black;">Time<a href="/TransSortByTime">▲▼</a></th>  
        <th style="border: 1px solid black;">Status</th>
        <th style="border: 1px solid black;">Crypto Type</th>
        <th style="border: 1px solid black;">Exchanged Quantity</th> 
        <th style="border: 1px solid black;">Transaction Type</th> 
    </tr>

    {% for i in range(l) %}

    <tr>
        <td>{{message[i]["targetEmail"]}}</td>
        <td>{{message[i]["initTime"]}}</td>
        <td>{{message[i]["status"]}}</td>
        <td>{{message[i]["cryptoType"]}}</td>
        <td>{{message[i]["exchangedQuantity"]}}</td>
        <td>{{message[i]["transactionType"]}}</td>
    </tr>

    {% endfor %}
</table>
<br><br>
{% endblock %}