{% extends "base.html" %} {% block title %}User info{% endblock %}

{% block content %}

</br>
<h1 align="center">Informacije o korisniku:</h1></br>
<h4>Ime i prezime</h4>
<p>Email: {{ user.email }}</p>
<p>Adresa: {{ user.adress }}</p>
<p>Grad: {{ user.city }}</p>
<p>Drzava: {{ user.country }}</p>
<p>Broj telefona: {{ user.phone }}</p>
{% if boolean == True %}
Korisnik je verifikovan!
    <table class="table table-striped" style="width: 40%;" width:50%> 
        <tr>
            <td>Broj platne kartice </td>
            <td>{{ user.card_number }}</td>
        </tr>
        <tr>
            <td>Datum isteka kartice</td>
            <td>{{ user.card_date }}</td>
        </tr>
        <tr>
            <td>Stanje na racunu</td>
            <td>{{ user.card_state }} $</td>
        </tr>
    </table>
{% else %}
Korisnik nije verifikovan.
<form method="POST" style="width: 30%;">
    <label>Broj kartice: &nbsp; &nbsp; &nbsp; </label>
    <input id="card_number" name="card_number" class="form-control" type="number" placeholder="4242 4242 4242 4242">
    <label>Datum isteka: &nbsp; &nbsp; &nbsp; </label>
    <input id="card_date" name="card_date" class="form-control" type="text" placeholder="mm/yy" pattern="\d{1,2}/\d{1,2}">
    <label>Sigurnosni kod: </label>
    <input id="card_password" name="card_password" class="form-control" type="text" placeholder="Password">
    <label>Iznos na racunu ($): </label>
    <input id="card_state" name="card_state" class="form-control" type="number" placeholder="100 $"></form> </br>
    <input type="submit" value="Submit">
</form>

<table style="margin-top: -530px; margin-left: 500px; width: 50%;" class="table table-striped" >
    <th colspan="3" style="text-align:center;">Kripto valute korisnika</th>
    <tr>
        <td>Bla</td>
        <td>bla</td>
        <td>bla</td>
    </tr>
    <tr>
        <td>Bla</td>
        <td>bla</td>
        <td>bla</td>
    </tr>
    <tr>
        <td>Bla</td>
        <td>bla</td>
        <td>bla</td>
    </tr>
    <tr>
        <td>Bla</td>
        <td>bla</td>
        <td>bla</td>
    </tr>
</table>
{% endif %}

{% endblock %}