{% extends "base.html" %} {% block title %}User info{% endblock %}

{% block content %}

<br>{{_message}}<br>

<h1 align="center">Informacije o korisniku:</h1><br>
<div class="row">
    <div class="col-md-6 card p-2">
        <h5>{{ user_data['name']}} {{ user_data['lastName'] }}</h5>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{user_data['email']}}</td>
                </tr>
                <tr>
                    <td>Adresa</td>
                    <td>{{user_data['address']}}</td>
                </tr>
                <tr>
                    <td>Grad</td>
                    <td>{{user_data['city']}}</td>
                </tr>
                <tr>
                    <td>Drzava</td>
                    <td>{{user_data['country']}}</td>
                </tr>
                <tr>
                    <td>Broj telefona</td>
                    <td>{{user_data['phoneNumber']}}</td>
                </tr>
            </tbody>
        </table>
 
        <form  method="GET" action="/editUser">
            <input class="btn btn-dark" type="submit" value="Edit profile" >
        </form>
    </div>
    <div class="col-md-6 card p-2">
        {% if boolean == True %}
        <div>
            <h5 class="mb-2">Korisnik je verifikovan.</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td scope="row">Broj platne kartice </td>
                        <td>{{ user_data['cardNumber'] }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Datum isteka kartice</td>
                        <td>{{ user_data['cardExpDate'] }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Stanje na racunu</td>
                        <td>{{ user_data['amount'] }} $</td>
                    </tr>
                </tbody>
            </table>
            <br>
        
            <form method="POST" action="/addMoney" class="form-group flex-column">
                <input type="number" placeholder="Add amount: 0$"  id='addedMoney' name='addedMoney' >
                <input class="btn btn-dark" type="submit" value="Add money" >
            </form>
            
            <form  method="POST" action="/convertUSDToTether" class="form-group flex-column">
                <input type="number" placeholder="Amount to convert: 0$"  id='usdToTetherAmount' name='usdToTetherAmount' >
                <input class="btn btn-dark" type="submit" value="Convert to tether" >
            </form>
        
        </div>
        {% else %}
        <div>
            <h5>Verifikuj korisnika:</h5><br>
            <form method="POST" action="/verify" class="form" style="width: 60%;">
                <label>Ime i prezime:</label>
                <input id="name" name="name" class="form-control" type="text" placeholder="Ime i prezime" >
                <label>Broj kartice:</label>
                <input id="cardNum" name="cardNum" class="form-control" type="text" placeholder="4242 4242 4242 4242">
                <label>Datum isteka: </label>
                <input id="expDate" name="expDate" class="form-control" type="date" placeholder="mm/yy" pattern="\d{1,2}/\d{1,2}">
                <label>Sigurnosni kod: </label>
                <input id="cardCode" name="cardCode" class="form-control" type="text" placeholder="Password">
                <label>Iznos na racunu ($): </label>
                <input id="amount" name="amount" class="form-control" type="number" placeholder="100 $"> </br>
                <input type="submit" value="Verify">
            </form>
        </div>
        
        {% endif %}
    </div>
</div>




{% endblock %}