{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Verify account</h3>

    <div class="form-group">
        <label for="cardNum">Card Number</label>
        <input type="text" class="form-control" id="text" name="text" placeholder="Enter CardNum">
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>

    <div class="form-group">
        <label for="expDate">Expiration date</label>
        <input type="text" class="form-control" id="expDate" name="expDate" placeholder="Enter ExpDate">
    </div>

    <div class="form-group">
        <label for="cardCode">Security code</label>
        <input type="number" class="form-control" id="cardCode" name="cardCode" placeholder="Enter CardCode">
    </div>

    <div class="form-group">
        <label for="amount">Amount of money on account</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount">
    </div>

    <br/>
    <button type="submit" class="btn btn-primary" value="Verify">Submit</button>
</form>

{% endblock %}