{% extends "base.html" %} {% block title %} Wallet {% endblock %} 

{% block content %}

<br><br>
<h3 align="center">Your crypto wallet</h3><br>
<table align="center" style="width: 60%; border: 1px solid black" class="table table-striped">
  <thead>
    <tr>
      <th style="border: 1px solid black">Name</th>
      <th style="border: 1px solid black">Amount</th>
    </tr>
  </thead>

  <tbody>
    {% for crypto in response %}

    <tr>
      {% set value = response[crypto]|float|round(10, 'floor') %}
      <td style="border: 1px solid black">{{crypto}}</td>
      <td style="border: 1px solid black">{{ value }}</td>
    </tr>

    {% endfor %}

  </tbody>
</table>

{% endblock %}
