{% extends "base.html" %} {% block title %}Wallet{% endblock %} {% block content %}

<table style="width: 100%; border: 1px solid black" class="table table-striped">
  <thead>
    <tr>
      <th style="border: 1px solid black">Symbol</th>
      <th style="border: 1px solid black">Amount</th>
      <th style="border: 1px solid black">Buy more</th>
      <th style="border: 1px solid black">Sell</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for mainkey in response %}

    <tr>
      <td style="border: 1px solid black">{{response[mainkey]['symbol']}}</td>
      <td style="border: 1px solid black">Amount</td>
      <td style="border: 1px solid black"></td>
      <td style="border: 1px solid black">
        <button onclick="tradeFunction(`{{mainkey}}`)" style="width: 100%; border: none; background: transparent" > Click </button>
      </td>
    </tr>

    {% endfor %}

    <script>
      function tradeFunction(value) {
        console.log(value);
        window.location.href = `http://127.0.0.1:5000/trade?token=${value}`;
      }
    </script>
  </tbody>
</table>

{% endblock %}
